<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Hello {{name}}</h3>
  <div *ngIf="!isActive">
  <h4>Please activate your account to start using the awesome services ! </h4>
  <button (click)="uploadPage()" ion-button secondary >Activate Account</button>
</div>
<div *ngIf="isActive">
<h4>Your account is Verified ! </h4>
</div>
</ion-content>
