
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <progress-bar *ngIf="loadProgress" [progress]="loadProgress"></progress-bar>
  <ion-fab *ngIf="(!loadProgress && numberOfUploadedPics<5)" bottom right>
    <button ion-fab (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>
  <ol class="progtrckr" data-progtrckr-steps="1">
    <li class={{steps[0]}}>1</li>
    <li class="{{steps[4]}}">Verified</li>
</ol>
</ion-content>
